<% wrap_layout :layout do %>
<section class="primary first-section some-space-bottom">
  <div class="container">

    <div class="row pad-xs">
      <div class="col-sm-8">
        <%= partial 'breadcrumb' %>
      </div>

      <div class="col-sm-4 library-breadcrumb-search">
        <%= partial 'search_form' %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="text-center"><%= current_page.data.title %></h1>
        <p class="text-center lead"><%= current_page.data.description %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</section>

<%= partial 'articles_and_categories' %>

<% end %>
