<% wrap_layout :layout do %>
<section class="primary extra-space-top">
	<div class="container">
		<div class="row-content">
			<div class="col-sm-12">
				<h1 class="h1 text-center"><%= current_page.data.title %></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form class="form-inline form-center" role="form">
					<div class="col-sm-8 col-sm-offset-1 form-group">
						<label class="sr-only" for="search-text">Search text</label>
						<input type="text" class="form-control input-lg" id="search-text" placeholder="What do you need help with?">
					</div>
					<div class="col-sm-2 form-group">
						<button type="submit" class="btn btn-lg btn-blue">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="primary extra-space-bottom">
	<div class="container">
		<div class="row-content">
			<div class="col-sm-12">
				<%= yield %>
			</div>
		</div>
		<% current_page.data.tiles.each_with_index do |tile, tile_index| %>
			<% if (tile_index + 1) % 3 == 1 %><div class="row-tiles"><% end %>
			<div class="col-sm-4">
				<a class="library-tile" href="<%= tile['url'] %>">
					<div class="library-tile">
						<h2 class="h4"><%= tile['title'] %></h2>
						<p><%= tile['description'] %></p>
					</div>
				</a>
			</div>
			<% if (tile_index + 1) % 3 == 0 || tile_index == current_page.data.tiles.count - 1 %></div><% end %>
		<% end %>
	</div>
</section>
<% end %>
