<div class="library-search-result">
  <h6><a href="{{link}}">{{pagemap.article.0.name}}</a></h6>
  <strong class="small">by {{pagemap.person.0.name}} &middot;
    published {{formatDate pagemap.article.0.datepublished}}</strong>
  <p class="small">{{pagemap.metatags.0.og:description}}</p>
</div>
