<div class="library-search-result">
  <h6 class="library-search-result-title">
    <a href="{{link}}">{{#if pagemap.article.0.name}}{{pagemap.article.0.name}}{{else}}{{title}}{{/if}}</a>
  </h6>

  {{#if pagemap.article.0.datepublished}}
    <strong class="small">Published {{formatDate pagemap.article.0.datepublished}}</strong>
  {{/if}}

  <p class="library-search-result-desc">
    {{#if pagemap.metatags.0.og:description}}
      {{pagemap.metatags.0.og:description}}
      {{else}}
        {{snippet}}
    {{/if}}
  </p>
</div>
