<%
require 'pathname'
asset_prefix = '/docs/'
matches = Pathname.new(current_page.source_file).realpath.to_s.match(/source\/(.*)\.md$/)

canonical_url = "https://www.linode.com/#{matches[1].gsub(/index$/, '')}" unless matches.nil?
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      <% if current_page.data.title && current_page.data.title != 'Guides & Tutorials' %>
        <%= current_page.data.title %> - Linode Guides & Tutorials
      <% else %>
        Linode Guides & Tutorials
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= current_page.data.description %>">
    <meta name="keywords" content="<%= current_page.data.keywords %>">

    <link href="<%= asset_prefix %>stylesheets/home.css" rel='stylesheet' type='text/css'>
    <link href="<%= asset_prefix %>stylesheets/syntax.css" rel='stylesheet' type='text/css'>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

    <% if defined? canonical_url %>
      <link rel='canonical' href="<%= canonical_url %>">
    <% end %>

    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="no-subnav">
    <header>
      <%= partial 'nav' %>
      <%= partial 'subnav' %>
    </header>

    <%= yield %>

    <footer>
      <%= partial 'footer' %>
    </footer>

    <%= partial 'js' %>
  </body>
</html>
