<% unless locals[:categories].empty? %>
  <section class="primary some-space">
    <div class="container">
      <% locals[:categories].each do |category| %>
        <div class="row-content">
          <div class="col-sm-12">
            <h2 class="h3"><a href="<%= category[:url] %>"><%= category[:title] %></a></h2>
            <p><%= category[:description] %></p>
            <ul class="list-group article-list">
              <% category[:articles].each_with_index do |article, index| %>
                <li class="list-group-item library-article-item"><h3 class="h5"><a href="<%= article['url'] %>"><%= article['title'] %></a></h3></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

