<%
asset_prefix = '/docs/'
%>

<script src="<%= asset_prefix %>js/bootstrap.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/prettify.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/jquery.ajax.queue.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/jquery.syntaxhighlighter.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/handlebars.runtime.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/search.hbs.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/underscore.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/backbone.min.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/main.js" type="text/javascript"></script>
<script src="<%= asset_prefix %>js/search.js" type="text/javascript"></script>

<script type="text/javascript">
$( "img[src^='\/docs\/assets']" ).each(function () {
  $( this ).parent().bind('click', false);
  $( this ).on('click', function(e) {
    var image_title = $( this ).attr('alt');
    var image_href = $( this ).parent().attr('href') || $( this ).attr('src');
    $( '#img-modal-image' ).attr('src', image_href);
    $( '#img-modal-title' ).text(image_title);
    $( '#img-modal' ).modal({ show: true });
  });
});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3XXZX');</script>
<!-- End Google Tag Manager -->
	
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3XXZX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="t">



  <script type="text/javascript">
    $("a").on('click',function(e){
      var url = $(this).attr("href");
      if (e.currentTarget.host != window.location.host) {
        _gaq.push(['_trackEvent', 'Outbound Links', e.currentTarget.host, url, 0]);
        if (e.metaKey || e.ctrlKey || e.which === 2 || this.target!=='_self') {
          var newtab = true;
        }
        if (!newtab) {
          e.preventDefault();
          setTimeout('document.location = "' + url + '"', 100);
        }
      }
    });
	$(".link-offsite :link, .link-offsite:link, [href^='/docs/assets/']:link").attr('target','_blank');
  </script>
</div>

