<div class="library-search-result">
  <h6 class="library-search-result-title">
    <a href="{{link}}">{{#if pagemap.techarticle.0.headline}}{{pagemap.techarticle.0.headline}}{{else}}{{title}}{{/if}}</a>
  </h6>

  <p class="library-search-result-desc">
    {{#if pagemap.metatags.0.og:description}}
      {{pagemap.metatags.0.og:description}}
      {{else}}
        {{snippet}}
    {{/if}}
  </p>
</div>
